*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/sonarlint/issuestore/0/7/0712df971a99ac4d2fccb8e0fb19f377f3374cca
/.idea/sonarlint/issuestore/2/a/2afbb999f001938c88fa43fc2ef52abf0f8213e4
/.idea/sonarlint/issuestore/5/6/5611303df8abe4fb3eb845a27bdaf399c3d59608
/.idea/sonarlint/issuestore/7/4/749edfcc96398253e5b3416184e95c46621da850
/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/9/f/9f833c3a85ee282687284d1fc882e84c0c069ed7
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/f/c/fce2f069a95d69fe32b497ed827ae77430c69169
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/0/7/0712df971a99ac4d2fccb8e0fb19f377f3374cca
/.idea/sonarlint/securityhotspotstore/2/a/2afbb999f001938c88fa43fc2ef52abf0f8213e4
/.idea/sonarlint/securityhotspotstore/5/6/5611303df8abe4fb3eb845a27bdaf399c3d59608
/.idea/sonarlint/securityhotspotstore/7/4/749edfcc96398253e5b3416184e95c46621da850
/.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/securityhotspotstore/9/f/9f833c3a85ee282687284d1fc882e84c0c069ed7
/.idea/sonarlint/securityhotspotstore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/securityhotspotstore/f/c/fce2f069a95d69fe32b497ed827ae77430c69169
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea